<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <title><%= t :site_name %></title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">

  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag 'application', media: 'all' %>

  <%= javascript_include_tag 'modernizr/modernizr' %>

  <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <main class="main">
    <%= yield %>
  </main>

  <%= javascript_include_tag 'application' %>
</body>
</html>
